@font-face {
    font-family: 'shabnam';
    src: url('../fonts/Shabnam.eot')format('eot'),
        url('../fonts/Shabnam.ttf')format('truetype'),
        url('../fonts/Shabnam.woff')format('woff'),
        url('../fonts/Shabnam.woff2')format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'shabnam';
    font-size: 14px;
}

ul, li {
    list-style: none;
}

a, a:hover {
    text-decoration: none;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

a {
    color: #666;
}

.section {
    margin: 70px auto;
}

body {
    direction: ltr;
    background-color: #fff;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

header ul {
    display: flex;
}

header ul li a {
    margin: 0 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

header ul li a:hover {
    color: #ff8f00;
    background-color: transparent;
}

header nav {
    box-shadow: none !important;
}

nav .brand-logo {
    position: relative;
}

.home {
    background: url('../img/home-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.home .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    opacity: .7;
}

.home .home-content {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}

.home .home-content h1 {
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 700;
}

.home .home-content p {
    font-size: 16px;
    letter-spacing: 2px;

}

.scroll-down {
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    animation: scrooldown 2s ease infinite;
    -webkit-animation: scrooldown 2s ease infinite;
}

@keyframes scrooldown {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}

.scroll-down img {
    width: 22px;
}

/*
========================
        about style
========================
*/
.flex {
    display: flex;
}

.about img {
    width: 100%;
    box-shadow: 0 0 10px 5px #ddd;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.title-section {
    font-size: 25px;
    font-weight: 700;
    color: #666;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
}

.title-section::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ff8f00;
}

.about .about-content p {
    line-height: 2rem;
    color: #777;
    text-align: justify;
}

.about .about-item {
    text-align: center;
    margin-top: 15px;
}

.about .about-item h5 {
    color: #555;
}

.about .about-item h6 {
    font-size: 13px;
    color: #777;
}

.about .link-contact {
    background-color: #ff8f00;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 5px 5px #ddd;
    font-weight: 600;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.about .link-contact:hover {
    box-shadow: none;
}

/*
===============================
        service style
===============================
 */
.service, .work, .about {
    width: 100%;
}

.service .service-item {
    width: 100%;
    overflow: hidden;
    height: 250px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.service .service-item:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.service .service-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.service-item span {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    opacity: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

.service-item span p {
    font-size: 20px;
    color: #fff;
    opacity: 1;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

.service-item:hover span {
    opacity: 0;
}

.service-item:hover span p {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    opacity: 0;
}

/* 
============================
        work style
============================
*/
.work {
    width: 100%;
    margin: 100px auto;
}

.work .work-item {
    width: 100%;
    height: 250px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

.work .work-item img {
    width: 100%;
    height: 250px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.work .work-item:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.work-item span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.work-item span p {
    position: absolute;
    bottom: 10px;
    right: 50%;
    color: #fff;
    font-size: 18px;
    opacity: 0;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.work-item:hover span {
    background: rgba(0, 0, 0, .8);
}

.work-item:hover p {
    opacity: 1;
    bottom: 120px;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

/* 
===============================
        contact style
===============================
*/
.contact {
    width: 100%;
}

.contact .contact-img {
    width: 100%;
    background: url(../img/contact-bg.jpg);
    padding: 200px 0;
    background-size: cover;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .contact-desc {
    padding: 0 100px;
    margin: 0 auto;
    background: #fff;
}

.contact .contact-desc form {
    margin-top: -100px;
    background: #fff;
    padding-top: 50px;
}

.contact-desc form input {
    color: #666;
    border: 1px solid #ddd;
}

.contact-desc form .btn-send {
    background-color: #ff8f00;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 5px 5px #ddd;
    font-weight: 600;
    border-radius: 20px;
    padding: 12px 35px;
    cursor: pointer;
}

.contact .info {
    text-align: center;
    color: #666;
}

.fa-instagram-square {
    color: #E4405F;
}

.fa-twitter-square {
    color: #1da1f2;
}

.fa-telegram {
    color: #0088cc;
}

.fa-linkedin-in {
    color: #0a66c2;
}

.contact ul.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact ul.social li {
    margin: 0 20px;
}

.contact ul.social li a svg {
    font-size: 40px;
}

footer .footer {
    text-align: center;
}

.footer p {
    color: #666;
    font-size: 16px;
}

.footer p svg {
    color: #E4405F;
    margin: 0 5px;
    font-size: 20px;
}

.footer .copy-right {
    color: #3dfd4d;
    background: rgba(0, 0, 0, .8);
}

/* 
==================================
        Responcive Style 
==================================
*/

#mobile-link {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    .section {
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .about .flex{
        display: unset;
    }
    .link-contact{
        margin-bottom: 25px;
    }
}